// SPDX-License-Identifier: GPL-2.0-only OR MIT
// Copyright (c) 2024 OpenWrt contributors

/dts-v1/;

#include "ipq5018.dtsi"
#include "ipq5018-ess.dtsi"

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>
#include <dt-bindings/leds/common.h>

/*
 * Xunison D50-5G Network Topology:
 *
 *  _______________________         _______________________
 * |        IPQ5018        |       |        QCA AR8327     |
 * | +------+   +--------+ |       | +--------+   +------+ |
 * | | MAC0 |---| GE PHY |-+--MDI-+->|  Phy0  |   | LAN4 | |
 * | +------+   +--------+ |  WAN  | +--------+          | |
 * | +------+   +--------+ |       | +--------+          | |
 * | | MAC1 |---| Uniphy |-+-SGMII-+>| SerDes |---| CPU  | |
 * | +------+   +--------+ |       | +--------+   +------+ |
 * |_______________________|       |      LAN1~LAN4        |
 *                                 |_______________________|
 *
 * WAN: dp1 (MAC0) -> internal GE PHY -> WAN port
 * LAN: dp2 (MAC1) -> SGMII -> QCA AR8327 CPU port -> 4x LAN
 */

/ {
	model = "Xunison D50-5G";
	compatible = "xunison,d50-5g", "qcom,ipq5018";

	aliases {
		serial0 = &blsp1_uart1;
		led-boot = &led_internet;
		led-failsafe = &led_internet;
		led-running = &led_internet;
		led-upgrade = &led_internet;
	};

	chosen {
		bootargs-append = " root=/dev/ubiblock0_0 coherent_pool=2M";
		stdout-path = "serial0:115200n8";
	};

	keys {
		compatible = "gpio-keys";
		pinctrl-0 = <&button_pins>;
		pinctrl-names = "default";

		reset-button {
			label = "reset";
			gpios = <&tlmm 22 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_RESTART>;
			debounce-interval = <60>;
		};

		wps-button {
			label = "wps";
			gpios = <&tlmm 38 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_WPS_BUTTON>;
			debounce-interval = <60>;
		};
	};

	leds {
		compatible = "gpio-leds";
		pinctrl-0 = <&led_pins>;
		pinctrl-names = "default";

		led_internet: internet {
			color = <LED_COLOR_ID_GREEN>;
			function = LED_FUNCTION_WAN;
			gpios = <&tlmm 1 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};

		wifi-2g {
			color = <LED_COLOR_ID_GREEN>;
			function = LED_FUNCTION_WLAN_2GHZ;
			gpios = <&tlmm 30 GPIO_ACTIVE_HIGH>;
			default-state = "off";
			linux,default-trigger = "phy0radio";
		};

		wifi-5g {
			color = <LED_COLOR_ID_GREEN>;
			function = LED_FUNCTION_WLAN_5GHZ;
			gpios = <&tlmm 35 GPIO_ACTIVE_HIGH>;
			default-state = "off";
			linux,default-trigger = "phy1radio";
		};

		lte-green {
			color = <LED_COLOR_ID_GREEN>;
			function = LED_FUNCTION_MOBILE;
			gpios = <&tlmm 33 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};

		lte-red {
			color = <LED_COLOR_ID_RED>;
			function = LED_FUNCTION_MOBILE;
			gpios = <&tlmm 34 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};

		mesh-green {
			color = <LED_COLOR_ID_GREEN>;
			function = LED_FUNCTION_INDICATOR;
			gpios = <&tlmm 27 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};

		mesh-red {
			color = <LED_COLOR_ID_RED>;
			function = LED_FUNCTION_INDICATOR;
			gpios = <&tlmm 28 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};
	};
};

&sleep_clk {
	clock-frequency = <32000>;
};

&xo_board_clk {
	clock-div = <4>;
	clock-mult = <1>;
};

&blsp1_uart1 {
	status = "okay";
	pinctrl-0 = <&serial_0_pins>;
	pinctrl-names = "default";
};

&crypto {
	status = "okay";
};

&cryptobam {
	status = "okay";
};

&prng {
	status = "okay";
};

&qfprom {
	status = "okay";
};

&qpic_bam {
	status = "okay";
};

&qpic_nand {
	pinctrl-0 = <&qpic_pins>;
	pinctrl-names = "default";
	status = "okay";

	nand@0 {
		compatible = "spi-nand";
		reg = <0>;
		nand-ecc-engine = <&qpic_nand>;
		nand-bus-width = <8>;

		partitions {
			compatible = "qcom,smem-part";

			partition-devinfo {
				label = "devinfo";
				read-only;

				nvmem-layout {
					compatible = "ascii-eq-delim-env";
					#address-cells = <1>;
					#size-cells = <1>;

					hw_mac_addr: hw_mac_addr {
						compatible = "mac-base";
						#nvmem-cell-cells = <1>;
					};
				};
			};
		};
	};
};

/* WAN: MAC0 -> internal GE PHY -> WAN port */
&dp1 {
	status = "okay";
	phy-mode = "internal";

	nvmem-cells = <&hw_mac_addr 0>;
	nvmem-cell-names = "mac-address";
};

/* LAN switch: MAC1 -> SGMII -> QCA AR8327 CPU port */
&dp2 {
	status = "okay";

	nvmem-cells = <&hw_mac_addr 1>;
	nvmem-cell-names = "mac-address";

	fixed-link {
		speed = <1000>;
		full-duplex;
	};
};

&switch {
	status = "okay";

	switch_mac_mode = <MAC_MODE_SGMII_CHANNEL0>;

	qcom,port_phyinfo {
		port@2 {
			port_id = <2>;
			forced-speed = <1000>;
			forced-duplex = <1>;
		};
	};
};

&mdio0 {
	status = "okay";
};

&mdio1 {
	status = "okay";
	pinctrl-0 = <&mdio1_pins>;
	pinctrl-names = "default";
	reset-gpios = <&tlmm 39 GPIO_ACTIVE_LOW>;

	qca8337_0: ethernet-phy@0 {
		reg = <0>;
	};

	qca8337_1: ethernet-phy@1 {
		reg = <1>;
	};

	qca8337_2: ethernet-phy@2 {
		reg = <2>;
	};

	qca8337_3: ethernet-phy@3 {
		reg = <3>;
	};

	/* QCA AR8327 switch */
	switch1: ethernet-switch@17 {
		compatible = "qca,qca8337";
		reg = <17>;
		#address-cells = <1>;
		#size-cells = <0>;

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@1 {
				reg = <1>;
				label = "lan4";
				phy-handle = <&qca8337_0>;
			};

			port@2 {
				reg = <2>;
				label = "lan3";
				phy-handle = <&qca8337_1>;
			};

			port@3 {
				reg = <3>;
				label = "lan2";
				phy-handle = <&qca8337_2>;
			};

			port@4 {
				reg = <4>;
				label = "lan1";
				phy-handle = <&qca8337_3>;
			};

			port@6 {
				reg = <6>;
				label = "cpu";
				phy-mode = "sgmii";
				ethernet = <&dp2>;
				qca,sgmii-enable-pll;

				fixed-link {
					speed = <1000>;
					full-duplex;
				};
			};
		};
	};
};

/* PCIe x2: QCN9074 5G WiFi module */
&pcie0 {
	status = "okay";
	perst-gpios = <&tlmm 15 GPIO_ACTIVE_LOW>;

	pcie@0 {
		wifi@0,0 {
			status = "okay";
			compatible = "pci17cb,1104";
			reg = <0x00010000 0 0 0 0>;
			qcom,ath11k-calibration-variant = "Xunison-D50-5G";
		};
	};
};

&pcie0_phy {
	status = "okay";
};

/* Internal IPQ5018 2.4G/5G radio */
&q6v5_wcss {
	firmware-name = "ath11k/IPQ5018/hw1.0/q6_fw.mdt",
			"ath11k/IPQ5018/hw1.0/m3_fw.mdt";
};

&wifi {
	qcom,rproc = <&q6v5_wcss>;
	qcom,ath11k-calibration-variant = "Xunison-D50-5G";
	qcom,ath11k-fw-memory-mode = <1>;
	status = "okay";
};

&tlmm {
	button_pins: button-state {
		pins = "gpio22", "gpio38";
		function = "gpio";
		drive-strength = <8>;
		bias-pull-up;
	};

	led_pins: led-state {
		pins = "gpio1", "gpio27", "gpio28", "gpio30",
		       "gpio33", "gpio34", "gpio35";
		function = "gpio";
		drive-strength = <8>;
		bias-pull-down;
	};

	mdio1_pins: mdio-state {
		mdc-pins {
			pins = "gpio36";
			function = "mdc";
			drive-strength = <8>;
			bias-pull-up;
		};

		mdio-pins {
			pins = "gpio37";
			function = "mdio";
			drive-strength = <8>;
			bias-pull-up;
		};
	};

	qpic_pins: qpic-state {
		clock-pins {
			pins = "gpio9";
			function = "qspi_clk";
			drive-strength = <8>;
			bias-disable;
		};

		cs-pins {
			pins = "gpio8";
			function = "qspi_cs";
			drive-strength = <8>;
			bias-disable;
		};

		data-pins {
			pins = "gpio4", "gpio5", "gpio6", "gpio7";
			function = "qspi_data";
			drive-strength = <8>;
			bias-disable;
		};
	};

	serial_0_pins: uart0-state {
		pins = "gpio20", "gpio21";
		function = "blsp0_uart0";
		bias-disable;
	};
};
